@import "../../assets/CSS/global.css";

.myprofile {
  width: 1100px;
  border: 3px solid var(--color-primary);
  border-radius: 20px;
  height: 250px;
  padding: 40px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myprofile img {
  border: 2px solid black;
  border-radius: 50%;
  height: 170px;
}

.myprofile h3 {
  color: var(--text-main);
  font-size: 30px;
  margin-right: 10px;
}

.myprofile p {
  color: var(--text-light);
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-style: italic;
}

.stats {
  text-align: center;
  font-size: 18px;
  color: var(--color-primary);
  padding: 10px;
}

.stats span {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.quote-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 80px auto;
  width: 1280px;
  height: auto;
  gap: 40px;
}

.quote-card {
  height: 200px;
  width: 400px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  color: var(--text-main);
  font-style: oblique;
  font-size: 23px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.like {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(189, 38, 38);
  font-size: 18px;
}

.like:hover {
  cursor: pointer;
}
